:root {
  --bg: #0b1220;
  --sidebar: #111827;
  --card: #1f2937;
  --graph: #0f172a;

  --primary: #22c55e;
  --primary-hover: #16a34a;

  --danger: #ef4444;

  --text: #f8fafc;
  --text-secondary: #94a3b8;

  --border: #334155;

  --shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

  --radius: 16px;
}
